@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
}

#Logo {
  object-fit: cover !important;
  width: 20rem !important;
  height: 6rem !important;
}

.navbar-brand {
  padding: 0 !important;
}

.active {
  padding: 0 !important;
}

#navItems {
  font-weight: bolder;
  margin-right: 150px !important;
  font-size: 1.4rem;
}

#navItems li {
  margin: 0 11px !important;
  cursor: pointer;
  transition: 0.19s;
}

#navItems li:nth-child(1) {
  border-bottom: 3.5px solid #420fea;
}

#navItems li:hover {
  border-bottom: 3.5px solid #420fea;
}

#navBack {
  background-color: white !important;
}

/* main{
    height:100vh;
    width:100%;
} */

#container {
  height: 140vh;
  overflow: hidden;
  background-size: contain;
  background-position: center center;
  background-image: url("https://i.postimg.cc/sgcHQSZX/Photo-by-Ciaran-O-Brien-on-Unsplash.jpg");
  background-color: transparent;
  object-fit: cover;
}

#headingMain {
  width: 100% !important;
  height: 100% !important;
}

#header {
  width: 100% !important;
  height: 100% !important;
  font-size: 5.4rem !important;
  color: black;
  text-shadow: 2px 2px white;
}

.row {
  width: 100%;
  height: 100%;
}

.mt-5 {
  color: black;
  text-shadow: 2px 2px white;
  /* font-family: cursive; */
  border-bottom: 4.5px solid #0051ff !important;
}

#seeMore {
  width: 11rem;
  border: 3px solid black;
  background-color: #420fea;
  color: white;
  font-weight: bold;
  padding: 10px;
  transition: 0.2s;
  border-radius: 10px;
}

#seeMore:hover {
  background-color: white;
  color: #420fea;
}

#seeMore:active {
  color: white;
  background-color: #420fea;
  opacity: 0.8;
}

i {
  cursor: pointer;
}

.fa-phone {
  color: black;
  cursor: pointer;
}
.fa-phone:hover {
  color: rgb(0, 255, 0);
}
.fa-instagram {
  color: rgb(0, 0, 0);
  cursor: pointer;
}
.fa-instagram:hover {
  color: transparent;
  background: -webkit-radial-gradient(
    30% 107%,
    circle,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  background: -o-radial-gradient(
    30% 107%,
    circle,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  background: -webkit-radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  background-clip: text;
  -webkit-background-clip: text;
}
.fa-facebook {
  color: black;
  cursor: pointer;
}
.fa-facebook:hover {
  color: rgb(0, 255, 0);
}
.fa-youtube {
  color: black;
  cursor: pointer;
}
.fa-youtube:hover {
  color: rgb(255, 0, 0);
}
.fa-telegram {
  color: black;
  cursor: pointer;
}
.fa-telegram:hover {
  color: rgb(0, 85, 255);
}
.fa-envelope {
  color: black;
  cursor: pointer;
}
.fa-envelope:hover {
  color: rgb(255, 196, 0);
}
.fa-linkedin {
  color: black;
  cursor: pointer;
}
.fa-linkedin:hover {
  color: rgb(0, 192, 156);
}
.fa-twitter {
  color: black;
  cursor: pointer;
}
.fa-twitter:hover {
  color: rgb(0, 223, 197);
}
/* YES */
.phone {
  color: black;
  cursor: pointer;
}
.phone:hover {
  color: rgb(0, 255, 0);
}
.instagram {
  color: black;
  cursor: pointer;
}
.instagram:hover {
  color: transparent;
  background: -webkit-radial-gradient(
    30% 107%,
    circle,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  background: -o-radial-gradient(
    30% 107%,
    circle,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  background: -webkit-radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  background-clip: text;
  -webkit-background-clip: text;
}
.facebook {
  color: black;
  cursor: pointer;
}
.facebook:hover {
  color: rgb(0, 106, 255);
}
.youtube {
  color: black;
  cursor: pointer;
}
.youtube:hover {
  color: rgb(255, 0, 0);
}
.telegram {
  color: black;
  cursor: pointer;
}
.telegram:hover {
  color: rgb(0, 94, 255);
}
.envelope {
  color: black;
  cursor: pointer;
}
.envelope:hover {
  color: rgb(229, 255, 0);
}
.linkedin {
  color: black;
  cursor: pointer;
}
.linkedin:hover {
  color: rgb(0, 179, 255);
}
.twitter {
  color: black;
  cursor: pointer;
}
.twitter:hover {
  color: rgb(0, 183, 255);
}

#card {
  height: 45vh !important;
}

/* #myContainer{
    border:4px solid black;
} */

#col {
  height: 45vh;
  border: 4px solid black;
}

#productImage {
  height: 33rem;
  object-fit: contain;
}

#addToCart {
  border: 2.9px solid black;
  font-weight: bold;
  background-color: #420fea !important;
}
#addToCart:hover {
  border: 2.9px solid black;
  font-weight: bold;
  color:#420fea !important;
  background-color: black !important;
  cursor: pointer;
}
#addToCart:active {
  opacity: 0.8;
}

#irreplacableHeader {
  /* border: 3px solid black; */
}

#itemm {
  /* border-right: 3px solid black; */
}

#add {
  font-weight: bold !important;
  font-size: 1rem !important;
  background-color: rgb(0, 85, 255);
  border: 3px solid black;
}
#quantity {
  padding: 1rem;
  display: flex;
  align-items: center;
}
#minus {
  font-size: 1rem !important;
  font-weight: bold !important;
  background-color: red;
  border: 3px solid black;
}

#productTitle {
  border: 1px solid black;
}
#img {
  border: 1px solid black;
}
#productPrice {
  border: 1px solid black;
}
.pressMe {
  width: 7rem;
  height: 2.5rem;
  border: 3px solid black;
  color: black;
  font-weight: bold;
  background-color: #420fea;
}
.pressMe:hover {
  background-color: black;
  color: #420fea;
}

.pressMe:active {
  opacity: 0.7;
}

#smolImage {
  width: 2rem;
  height: 2rem;
}

#Checkout {
  display: inline-block !important;
  width: 9rem;
  height: 100% !important;
  border-radius: 10px;
  background-color: #0051ff;
  color: black;
  border: 3px solid black;
  font-weight: bold;
}

#Checkout:hover {
  background-color: black;
  color: #0051ff;
}

#Checkout:active {
  opacity: 0.7;
}

#quantityy {
  width: 2rem;
}

.remove {
  background-color: red;
  border: 3px solid black;
  color: white;
  font-weight: bold;
  padding: 0.5px;
  border-radius: 5px;
}

.remove:hover {
  opacity: 0.7;
}

/* .whyeven{
        display: flex;
        justify-content: center;
        align-items: center;
    } */

#adminImage {
  height: 2rem;
  width: 2rem;
}

.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#modalInputName {
  margin-bottom: 1rem;
}
#modalInputImage {
  margin-bottom: 1rem;
}
#modalInputDesc {
  margin-bottom: 1rem;
}
#modalInputPrice {
  margin-bottom: 1rem;
}

.broo{
  margin-top:7%;
}

#cartQuantity{
  width:1rem;
  height:1rem;
  font-size:67%;
  color:black !important;
  font-weight: bold;
}

#remove{
  width:65% !important;
  height:40%;
  font-size:70% !important;
  font-weight:bold !important;
  background-color:red !important;
}

#myPic{
  object-fit: contain;
  width:2rem;
  height:3rem;
}

#cartTitle{
  font-size:.8rem;
}

#cartPrice{
  font-size:.8rem;
}

#actions{
  font-size:.8rem;
}

#cartImage{
  font-size:.8rem;
}

.yesss{
  font-size:.8rem;
}

@media (max-width: 992px) {
  #myContainer {
    display: flex !important;
    flex-direction: column !important;
    width: 100% !important;
  }
}
